<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Router Managment</title>
</head>
<body>

<!--
Хочу сказать спасибо Маме, Папе, Всему чатику Antichat.RU
За то что выдержали мои дебильные вопросы по Python.
Огромное спасибо John Smith ;P, да я не забыл тебя )
В общем поолучилось то что получилось ;)
(c) Nova 23.12.17
-->

<div id="menu">
    <table cellspacing=1 cellpadding=8>
        <tr>
            <td align=center>-
                [<a href='/'>Main</a>] -
                [<a href='/wifi/edit'>Edit Wifi</a>] -
                [<a href='/3g/edit'>Edit 3G</a>] -
                [<a href='/socks/edit'>Update Work Mode</a>] -
                [<a href='/dns/update'>Update DNS Servers</a>] -
                [<a href='/3g/restart'>Restart 3G</a>] -
        </tr>
    </table>
</div>
</body>